@charset "UTF-8";

tr {
	border: solid 1px;
}

th {
	border: solid 1px;
}

td {
	border: solid 1px;
}

th[id="positive"] {
	background-color: rgb(217, 249, 250);
}

th[id="negative"] {
	background-color: rgb(250, 217, 233);
}

td[id="positive"] {
	background-color: rgb(217, 249, 250);
}

td[id="negative"] {
	background-color: rgb(250, 217, 233);
}

th[id*="check"] {
	background-color:#DDDDDD;
}

input[type="number"] {
	width: 5em;
}

input[type="text"] {
	width: 5em;
}

