@charset "UTF-8";

table {
	border-collapse: collapse;
}
td {
	border: solid 1px;
	padding: 0.5em;
	background-color:#e0e0e0;
}
body {
	border: solid 1px;
	padding: 0.5em;
	background-color:#e0e0e0;
}