@charset "UTF-8";

tr {
	border: solid 3px;
	padding: 0.5em;
	background-color:#b8b8b8;
	text-align: center;
}

th {
	border: solid 2px;
	padding: 0.5em;
	background-color:#b8b8b8;
	text-align: center;
}

td {
	border: solid 1px;
	padding: 0.5em;
	background-color:#eeeeee;
	text-align: center;
}

input[type="number"] {
	width: 5em;
}

input[type="text"] {
	width: 5em;
}

th[id="positiveHeader"] {
	background-color: royalblue;
}

th[id="negativeHeader"] {
	background-color: maroon;
}

td[id="positiveScore"] {
	background-color: aqua;
}

td[id="negativeScore"] {
	background-color: salmon;
}

th[id="positiveFooter"] {
	background-color: royalblue;
}

th[id="negativeFooter"] {
	background-color: maroon;
}
